[Unit]
Description=MinIO Object Storage
Documentation=https://docs.min.io
Wants=network-online.target
After=network-online.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
Environment="MINIO_ROOT_USER=akidb-admin"
Environment="MINIO_ROOT_PASSWORD=akidb-secret-key"
ExecStart=/usr/local/bin/minio server {{ akidb_data_dir }}/minio --address ":9000" --console-address ":9001"
Restart=always
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
